<%- include('../partials/header') %>
<%- include('../partials/topnav') %>
<div id="layoutSidenav">
    <%- include('../partials/sidenav') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="app-title">
                    <div>
                        <h1><i class="fa fa-edit"></i> Edit</h1>
                    </div>
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                    </ul>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="/admin/collaborators" class="btn btn-secondary">Back</a>
                        <%- include('../partials/msg') %>
                        <form class="form-horizontal" role="form" method="post" action="/admin/collaborators/update" enctype="multipart/form-data">
                            <div class="form-row">
                                <input type="hidden" name="id" value="<%= result[0].id%>">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="FirstName">Select Images</label>
                                        <input class="form-control" name="images" id="images" type="file"
                                            accept=""/>
                                            <br>
                                            <img src="/uploads/<%= result[0].images%>" alt="" class="w-25">    
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="LastName">collaborators Name</label>
                                        <input class="form-control" id="collab_name" value="<%= result[0].collab_name%>" type="text" name="collab_name" placeholder="collaborators name"
                                            />
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group mt-2 mb-0">
                                <button class="btn btn-primary" type="submit">Update</button>
                                <!-- <button class="btn btn-danger" type="reset">Reset</button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<%- include('../partials/footer') %>
